<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscador de Productos</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-item>
    <ion-label>Seleccione tipo</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">TODO</ion-select-option>
      <ion-select-option value="comestibles">COMESTIBLES</ion-select-option>
      <ion-select-option value="bebidas">BEBIDAS</ion-select-option>
      <ion-select-option value="limpieza">LIMPIEZA</ion-select-option>
      <ion-select-option value="otros">OTROS</ion-select-option>      
    </ion-select>
  </ion-item>
 
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
 
      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        <b>{{ item.Year }}</b>
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>